In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas_datareader import data as wb

C:\Users\ForPeople\anaconda3\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [6]:
tickers = ['PG', 'BEI.DE']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = wb.DataReader(t,data_source='yahoo', start='2007-1-1')['Adj Close']

In [7]:
sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006544
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858
...              ...       ...
2020-05-26 -0.005075 -0.005232
2020-05-27  0.016466  0.025252
2020-05-28  0.018874  0.017954
2020-05-29 -0.001207 -0.013488
2020-06-01  0.011408       NaN

[3376 rows x 2 columns]

In [9]:
# pandas.DataFrame.var() - CALCULATES VARIANCE
PG_var = sec_returns['PG'].var()
PG_var

0.0001431607145806661

In [11]:
BEI_var = sec_returns['BEI.DE'].var()
BEI_var

0.00019030555047748913

In [12]:
PG_var_a = sec_returns['PG'].var() * 250
PG_var_a

0.03579017864516652

In [13]:
BEI_var_a = sec_returns['BEI.DE'].var() * 250
BEI_var_a

0.04757638761937228

In [15]:
# pandas.DataFrame.cov() - COMPUTES PAIRWISE COVIARIANCE OF COLUMNS
#VAR(PG) | COV(PG,BEI)
#COV(BEI,PG) | VAR(BEI)
cov_matrix = sec_returns.cov()
cov_matrix

              PG    BEI.DE
PG      0.000143  0.000046
BEI.DE  0.000046  0.000190

In [17]:
# ANNUAL COV MATRIX
cov_matrix_a = sec_returns.cov() * 250
cov_matrix_a

             PG    BEI.DE
PG      0.03579  0.011390
BEI.DE  0.01139  0.047576

In [19]:
#pandas.DataFrame.corr() - Computes pairwise correlation of columns
corr_matrix = sec_returns.corr()
corr_matrix

             PG   BEI.DE
PG      1.00000  0.27563
BEI.DE  0.27563  1.00000