In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas_datareader import data as wb

C:\Users\ForPeople\anaconda3\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [3]:
tickers = ['PG', 'BEI.DE']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = wb.DataReader(t,data_source='yahoo', start='2007-1-1')['Adj Close']

In [4]:
sec_data.head()

                   PG     BEI.DE
Date
2007-01-03  43.143341  39.576427
2007-01-04  42.815781  39.836281
2007-01-05  42.448109  39.017349
2007-01-08  42.541702  39.025219
2007-01-09  42.434750  38.143303

In [6]:
sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006544
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858
...              ...       ...
2020-05-22  0.008741 -0.001738
2020-05-26 -0.005075 -0.005232
2020-05-27  0.016466  0.025252
2020-05-28  0.018874  0.017954
2020-05-29 -0.001207 -0.013488

[3375 rows x 2 columns]

In [13]:
#PG
sec_returns['PG'].mean()

0.0002929378177931812

In [14]:
sec_returns['PG'].mean() * 250

0.07323445444829531

In [15]:
#std = calculates standard deviation
sec_returns['PG'].std()

0.01196521198561893

In [17]:
sec_returns['PG'].std() * 250 ** 0.5

0.1891866128065084

In [18]:
#Beiersdorf
sec_returns['BEI.DE'].mean()

0.00024557090487750964

In [19]:
sec_returns['BEI.DE'].mean() * 250

0.061392726219377414

In [20]:
sec_returns['BEI.DE'].std()

0.013795127780397293

In [21]:
sec_returns['BEI.DE'].std() * 250 ** 0.5

0.2181201219955928

In [22]:
print(sec_returns['BEI.DE'].mean() * 250)
print(sec_returns['PG'].mean() * 250)

0.061392726219377414
0.07323445444829531

In [26]:
sec_returns[['PG','BEI.DE']].mean() * 250

PG        0.073234
BEI.DE    0.061393
dtype: float64

In [27]:
sec_returns[['PG','BEI.DE']].std() * 250 ** 0.5

PG        0.189187
BEI.DE    0.218120
dtype: float64